
@{
    ViewBag.Title = "Admin";
}

<ul class="nav flex-column">
    <li class="nav-item">
        <nav class="navbar navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </li>
    <li class="nav-item">
        <nav class="navbar navbar-dark bg-dark">
            <h5 class="cool">Career</h5>
        </nav>
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark p-4">
                <a class="nav-link" href="#">Create</a>
                <a class="nav-link" href="#">Edit</a>
            </div>
        </div>
    </li>
    <li>
        <nav class="navbar navbar-dark bg-dark">
            <h5 class="cool">Gallery</h5>
        </nav>
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark p-4">
                <a class="nav-link" href="#">Create</a>
                <a class="nav-link" href="#">Edit</a>
            </div>
        </div>
    </li>
    <li>
        <nav class="navbar navbar-dark bg-dark">
            <h5 class="cool">News</h5>
        </nav>
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark p-4">
                <a class="nav-link" href="#">Create</a>
                <a class="nav-link" href="#">Edit</a>
            </div>
        </div>
    </li>

    <li>
        <nav class="navbar navbar-dark bg-dark">
            <h5 class="cool">Schedule</h5>
        </nav>
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark p-4">
                <a class="nav-link" href="#">Create</a>
                <a class="nav-link" href="#">Edit</a>
            </div>
        </div>
    </li>

    <li>
        <nav class="navbar navbar-dark bg-dark">
            <h5 class="cool">Teachers</h5>
        </nav>
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark p-4">
                <a class="nav-link" href="#">Create</a>
                <a class="nav-link" href="#">Edit</a>
            </div>
        </div>
    </li>
</ul>



<ul class="pagination justify-content-center">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
</ul>

