@model IEnumerable<UI.Models.NewsViewModel>

@{
    ViewBag.Title = "Index";
}

@foreach (var item in Model)
{
    <div class="card-deck">
        <div class="card">
            <img src="@Html.DisplayFor(modelItem => item.LinkImage)" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                <p class="card-text"><small class="text-muted"> @Html.DisplayFor(modelItem => item.DatePost)</small></p>
            </div>
        </div>
    </div>
}