@model IEnumerable<UI.Models.CareerViewModel>

@{
    ViewBag.Title = "Index";
}

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                    <a href="#" class="btn btn-primary">@Html.DisplayFor(modelItem => item.Salary)</a>
                </div>
            </div>
        </div>
    </div>
}

