@model IEnumerable<UI.Models.TeachersViewModel>

@{
    ViewBag.Title = "Index";
}

@foreach (var item in Model)
{
    <div class="card" wight="500px">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="@Html.DisplayFor(modelItem => item.ImageLink)" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.FullName)</h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
